/**
------------------------------------------------------------------------- WARM OSCAR
**/


.warmOscar {
	height: 100%;
	width: 100%;
	text-align:center;
	background-color: #2a3430;
}


.warmOscar h2 {
	-webkit-transform: translateY(50%);
	font-family: 'Righteous', cursive;
	font-size: 75px; 
	color: #E16036;
	text-shadow: 3px 3px #E3170A;
}

.warmOscar h2 span {
	display:inline-block;
	font-weight: 900;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

.warmOscar img {
	-webkit-transform: translateY(50%);

}

.warmOscar:hover img {
		-webkit-transform: none;

}

.warmOscar p {
	opacity: 0;
	max-width: 80%;
	margin:0 auto;
	-webkit-transform: scale(.5);
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #fff;
	padding-bottom: 10px;
}

.warmOscar i {
	color: white;
	opacity: 0;
	margin:0 auto;
	-webkit-transform: scale(.5);
	position: absolute;

	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#introduction a span {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

.warmOscar .absoluteCenter {
	width: 100%;
	padding: 3rem;
	/* border: 1px solid white; */
	position: absolute;
	left: 0px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	letter-spacing: -.025em;
	line-height: 1.5em;
	z-index: 1;
}

.warmOscar::before {
	content:'';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background-color: rgba(0,0,0,.5);
}

.warmOscar::after {
	content:'';
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	border: 1px solid white;
	opacity: 0;
	-webkit-transform: scale(.5);
}

.warmOscar:hover::before {
	opacity: 0;
}

.warmOscar:hover::after {
	opacity: 1;
	-webkit-transform: scale(.8);
	background-color: rgba(0,0,0,.3);
}

.warmOscar:hover h2 {
	-webkit-transform: none;
}

.warmOscar:hover p {
	opacity: 1;
	-webkit-transform: none;
}

.warmOscar:hover i {
	opacity: 1;
	-webkit-transform: none;
}
/**
---------------------------------------------------------------------- WARM OSCAR
**/


.button {
	display: inline-block;
	padding: 1em;
	background-color: #79BD9A;
	text-decoration: none;
	color: white;
}


/*
------------- ABOUT SECTION --------------
*/
#about {
	width:100%;
	height: 650px;
	margin: auto;
	background-color: #121212;
	text-align: center;
}

#about h1 {
	padding-left: 30px;
	padding-top: 30px;
	font-family: 'Fjalla One', sans-serif;
	color: #e16036;
	font-size: 70px;
	float: left;

}



#about img {
	width: 47%;
	float: right;
}

.hline-bottom {
	padding-left: 40px;
	padding-top: 150px;
	border-bottom: 2px solid #ed675f; /* whichever color you prefer */
	width: 400px;
}

.aboutText {
	width: 600px;
	height: 400px;
}

.aboutText p {
	font-family: 'Raleway', sans-serif;
	word-wrap: break-word;
	color: #ffffff;
	text-align: left;
	padding-left: 30px;
	padding-top: 30px;

}



#projects {
	width:100%;
	height: 700px;
	margin: auto;
	background-color: #181F1C;
	position: relative;
	text-align: center;
}

#projects h1 {
	padding-right: 30px;
	font-family: 'Fjalla One', sans-serif;
	color: #e16036;
	font-size: 70px;
	padding-bottom: 10px;
}

#projects h2 {
	padding-top: 30px;
	font-size: 30px;
	color: white;
}

#projects p {
		font-family: 'Raleway', sans-serif;
	word-wrap: break-word;
	color: #ffffff;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-top: 10px;

}


#projects .button {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	background: #131313;
	align-content: center;
	display: block;

}



.container {
	position: relative;
	width: 50%;

}

.image {
	display: block;
	width: 100%;
	height: auto;
}


.gamesIcon {
	padding-left: 150px;
}

.gameInfo {
	width: 350px;
	height: 430px;
	background: #131313;

}

.information {
	padding-left: 40px;
}

#resume {
	width: 100%;
	height: 100px;
	background-color: #34653c;
	text-align: center;

}

#resume h1 {
	font-family: 'Righteous', cursive;
	color: #ffffff;
}

.button {
    background-color: #34653c;
    text-decoration: none;
    color: white;
    height: 100px;

}

#resume a {
	text-decoration: none;
}


#contact {
	width:100%;
	height: 250px;
	margin: auto;
	background-color: #121212;

}

#contact h1 {
	float: right;
	font-family: 'Righteous', cursive;
	font-size: 150px; 
	color: #34653c;
	text-shadow: 3px 3px #E3170A;
	padding-right: 50px;
	padding-top: 10px;
}

#contact img {
	width: 200px;
}

.iconz {
	display:inline-block;
	padding: 30px;
	padding-left: 10px;
}



*, *:after, *:before {
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-webkit-transition: all .6s ease;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #e16036;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}




/* Bubble Float Bottom */
.hvr-bubble-float-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #131313 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:hover, .hvr-bubble-float-bottom:focus, .hvr-bubble-float-bottom:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hvr-bubble-float-bottom:hover:before, .hvr-bubble-float-bottom:focus:before, .hvr-bubble-float-bottom:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}
